body {
  padding: 0%;
  margin: 0%;
}

.App {
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
  width: 100%;
  height: 100%;
 
  background-color: #333;
  background: #833472; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #833472, #151386); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #833472, #151386); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background: linear-gradient(to right, #ffd86f, #fc6262);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
  

/* 
.dark-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #333;
  
} */

.text-test {
  color: #423fcf;
  font-family: 'Alumni Sans', sans-serif;
  font-weight: 800;
  font-size: 100px;
  /* letter-spacing: 2px; */
  line-height: 100px;
  padding: 20px;
  margin: 20px;
  background-image: -webkit-linear-gradient(0deg, #6f6ce7 2%,#4517cf 0%,#8a004c 54%);
  background-clip: text;
  -webkit-background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-text-fill-color: transparent;

}

/* .gradient-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #ffd86f, #fc6262);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
} */

/* @keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

         
.btn-grad {
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Alumni Sans', sans-serif;
  font-size: 25px;
  font-weight: 500;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: none; 
  margin: 10px 10px 10px 40px;        
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.05);
}

/* img {
  height: 800px;
  margin-left: 500px;
} */

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alumni Sans', sans-serif;

  /* font-family: "Poppins", sans-serif; */
}
.container {
  /* width: 100%;
  height: 100vh; */
/*   background: #ffcc00; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  
}
nav {
  background: #fff;
  border-radius: 9px;
  padding: 30px;
  background: rgb(252,150,98);
background: linear-gradient(201deg, rgba(252,150,98,1) 0%, rgba(253,230,111,1) 92%);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}
nav ul li {
  display: inline-block;
  list-style: none;
  font-size: 2rem;
  color: #151386;
  padding: 0 10px;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}
nav ul li:after {
  content: "";
  width: 0;
  height: 3px;
  background: #423fcf;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}













:root {
	--darkblue: hsl(240deg 75% 5%);
	--blue: hsl(240deg 75% 60%);
	--purple: hsl(260deg 75% 65%);
	--lightgray: hsl(240 10% 70%);
	--red: hsl(320deg 75% 60%);
	--blueshadow: hsl(230deg 50% 50% / 0.4);
	--field: hsl(240deg 30% 15%);
}

.form-container {
	height: 100%;
	padding: 4rem;
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: center;
	align-items: center;
}

.form-card {
	border: 0.25rem solid var(--blue);
	border-radius: 1rem;
	padding: 2rem;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	flex: 1 1 auto;
	justify-items: center;
	align-items: center;
	box-shadow: 5px 15px 70px 5px var(--blueshadow);
}

.card h2 {
	flex: 0 1 0;
	padding: 0;
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1.5rem;
}

.form-text {
  color: #151386;
  font-size: 40px;
  
}

form {
	display: flex;
	width: 100%;
	flex-flow: column wrap;
	gap: 1rem;
	align-content: center;
}



form input {
	border-radius: 0.5rem;
	padding: 0.75rem;
	font-size: 1rem;
	width: 100%;
	flex-grow: 1;
	min-width: 200px;
	outline: none;
	background-color: var(--field);
	color: white;
}

.explainer {
	color: white;
	font-weight: 200;
	font-size: 0.9rem;
	line-height: 1.2rem;
	text-align: center;
}

form input::placeholder {
	color: var(--lightgray);
}

form input:has( .explainer) {
	margin-bottom: -0.5rem;
}

form input:focus {
	outline: 3px solid var(--blue);
	border: none;
}

form input:valid {
	outline: 3px solid var(--purple);
}

form input:is(:required):is(:invalid):not(:focus, .optional) {
	outline: 3px solid var(--red);
	border: none;
}

.bottom {
	flex: 0 1 auto;
	width: 100%;
}

label,
label > *,
input {
	cursor: pointer;
}

.label-button {
	width: 100%;
	background-color: var(--blue);
	border-radius: 1rem;
	transition: background-color 400ms ease-in-out;
	padding-block: 2rem;
	position: relative;
	display: flex;
	align-items: center;
}

.label-button:before,
.label-button:after {
	color: white;
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: all 400ms ease-in-out;
}

.label-button:after {
	content: "Saved!";
	opacity: 0;
	color: var(--darkblue);
}

.label-button:before {
	content: "Save";
	opacity: 1;
	color: white;
}

input[type="checkbox"] {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1rem;
	margin: auto;
}

input:disabled, .label-button:has(input:disabled) {
	cursor: not-allowed;
}

.label-button:has(input:checked) {
	background-color: var(--purple);
}

.label-button:has(input:checked)::before {
	opacity: 0;
}

.label-button:has(input:checked)::after {
	opacity: 1;
}

/* Show or Hide the checkbox for positioning */
input[type="checkbox"] {
	opacity: 0;
}
